/* Estilos de la lista de bandas */

.col-md-4.col-lg-3  {
  margin-top: 100px 
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

.card .content {
  padding: 15px 30px;
}

.card .h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.card p {
  color: rgb(168, 128, 116);
}

.card-image {
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-image img {
  width: 100%
}

/* Inputs del buscador y del añadir banda */

input {
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 5px 2px 3px 6px;
  margin-bottom: 30px;
  border: 1px solid #3e82f9;
  box-shadow: inset 0px 0px 2px 0px #3e82f9;
}

input.add-band {
  border: 1px solid #5cb85c;
  box-shadow: inset 0px 0px 2px 0px #5cb85c;
}

.fa-search {
  color:#FFFFFF;
}

.input-group-text {
  background-color: #3e82f9;
}