<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      <div class="input-group mt-5">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button" (click)="addNewBand()">Añadir nueva banda</button>
        </div>
        <input [(ngModel)]="newBand" type="text" class="form-control">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let band of actualBands">
      <a routerLink="/detail/{{ band.id }}">
        <div class="card card-blog fill-light">
          <div class="card-image">
            <img src="{{ band.imagePath }}" alt="{{ band.name }}">
          </div>
          <div class="content">
            <h2>{{ band.name }}</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>