<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mt-5 input-wrap">
        <div class="input-group-text input-group-prepend">
          <i class="fa fa-search fa-lg"></i>
        </div>
        <input type="search" class="form-control" placeholder="Encuentra una banda" [(ngModel)]="bandNameFilter">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mt-5 input-wrap">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button" (click)="addNewBand()"><i class="fa fa-plus fa-lg"></i></button>
        </div>
        <input type="text" class="form-control add-band" placeholder="Añadir nueva banda" [(ngModel)]="newBand">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let band of actualBands | FilterPipe: bandNameFilter">
      <a routerLink="/detail/{{ band.id }}">
        <div class="card card-blog fill-light">
          <div class="card-image">
            <img src="{{ band.imagePath }}" alt="{{ band.name }}">
          </div>
          <div class="content">
            <h2>{{ band.name }}</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>