html, body {
  height: 100%;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #4b4b4b;
  text-shadow: 0 1px 0 white;
}

#my-bands {
  max-width: 1540px;
}